body, html { 
    overflow-x: hidden;
  }
  
  .sections {
    min-height: 100%;
    position: relative;
  }
  
  .header {
    width: 600px;
    margin:auto auto;
  }
  
  .sections-count {
    margin:auto auto;
    display: flex;
    justify-content: left;
    /* font-size: 20px; */
  }
  
  .ellipse-1 {
    position: relative;
  }
  
  .first-list {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(-50%, -50%);
  }
  
  .first-products {
    display:flex;
  }
  
  .secont-products {
    display:flex;
  }
  
  .definition {
    display:flex;
  }
  
  .texts-of-definition {
    display: block;
  }
